@import url('https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
/*
	Reset Selector - don't remove this!
*/

* {
	margin: 0;
	padding: 0;
}

/* 
	You can modify everything after this point.
*/

a:link, a:visited 
{
	color: blue;
}

a:focus, a:hover 
{
	background-color: #ddddff;
	border-radius: 5px;
	text-decoration: underline;
	transition-duration: 0.2s;
	transition-property: background;
}

body 
{
	
}

code 
{
	font-weight: 600;
}

h1, h2, h3 
{
	line-height: 145%;
	letter-spacing: 10px;
	margin-bottom: 3rem;
	font-family: 'Playfair Display', serif;
	text-align: center;
}

h1 
{
	font-weight: 700;
	font-size: 5rem;
}

h2 
{
	margin-top: 3rem;
	font-size: 3rem;
	font-weight: 600;
}

h3 
{
	margin-bottom: 3rem;
	font-size: 2.25rem;
	margin-top: 3rem;
}

header 
{
	margin-top: 3rem;
}

main 
{
	margin: 1rem;
	padding: 1rem;
	border: 1em double black;
}

p 
{
	font-family: 'Montserrat', sans-serif;
	text-indent: 2rem;
	margin-left: 3em;
	margin-right: 3em;
	font-size: 1.5em;
}

#intro 
{
	margin-top: 3rem;
	margin-bottom: 3rem;
}

#how-does-it-work, #influence, #joke 
{
	margin-top: 3rem;
	margin-bottom: 3rem;
}